.card {
  position: relative;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 400px;
  justify-content: space-around;
  margin: 2em 0;
}

.card__bg {
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: contain;
  opacity: 0.5;
}

.card__bg:hover {
  opacity: 1;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  /* transform: scale(1.2); */
}

@media (min-width: 992px) {
  .card {
    width: 400px;
  }
}
