@import 'colors.css';

.typist {
  display: inline-block;
}

.hero {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;
  color: #fff;
  background: linear-gradient(0.5turn, rgba(0, 0, 0, 0.5), transparent),
    url('../images/hero7-min.jpg') 50% no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
.hero__container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20% auto auto auto;
  text-align: center;
}
.hero__info {
  width: 100%;
  line-height: 2em;
}
.hero__title {
  font-size: 2em;
  font-weight: bold;
}
.hero__title-secondary {
  font-size: 1.3em;
}
.hero__title-garanty {
  font-size: 1.3em;
  font-weight: bold;
}
.hero__contact {
  width: 100%;
  padding-top: 0%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  line-height: 1em;
}

.hero__link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1.8em;
}
.hero__link:hover {
  color: var(--main-orange-color);
}

.hero__button {
  margin-top: 2em;
}

/* .main-about {
  padding-top: 50px;
}
.main-about__header {
  text-align: center;
  font-size: 3em;
}
.main-about__cards {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
} */
/* .main-about__card {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-self: center;
  -ms-flex-item-align: center;
  justify-content: space-between;
  width: 90%;
  height: 22em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  background-color: #fff;
  border: 1px dotted #f36b23;
  text-align: center;
}
.main-about__card-header,
.main-about__card-text,
.main-about__card-button {
  text-align: center;
  font-size: 2em;
}
.main-about__card-button {
  width: 80%;
  margin: 25px auto;
  padding: auto;
  color: white;
  background-color: #f36b23;
  height: 60px;
  border-radius: 8px;
  border: none;
}
.main-about__card-button:hover {
  background-color: #575252;
  cursor: pointer;
}
.main-about__card-link {
  height: 2em;
  background-color: #f36b23;
  color: white;
}
.main-about__card-link:hover {
  cursor: pointer;
  background-color: #ffc658;
} */

@media (min-width: 992px) {
  .hero__container {
    flex-direction: row;
    width: 100%;
    min-height: 90vh;
    margin: auto;
    justify-content: space-around !important;
    text-align: left !important;
  }
  .hero__info {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    height: 50vh;
    margin: auto;
    justify-content: space-between;
    height: 30vh;
  }
  .hero__title {
    font-size: 5em;
  }
  .hero__title-secondary {
    font-size: 2em;
  }
  .hero__title-garanty {
    line-height: 1.5em;
    font-size: 2em;
  }
  .hero__contact {
    margin-top: 30vh;
    height: 30vh;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
  }
  .hero__link {
    font-weight: bold;
    line-height: 1em;
    font-size: 1.5em;
    padding-bottom: 1.5em;
    font-weight: 600;
  }
  .hero__button {
    margin-top: 0;
  }

  /* .main-about__header {
    text-align: center;
    font-size: 2.5em;
  }
  .main-about__card {
    width: 30%;
  }
  .main-about__card-header,
  .main-about__card-text,
  .main-about__card-button {
    text-align: center;
    font-size: 1.5em;
  } */
}
