@import 'colors.css';

/* .main-about {
  padding-top: 50px;
}
.main-about__header {
  text-align: center;
  font-size: 3em;
}
.main-about__cards {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
} */
/* .main-about__card {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-self: center;
  -ms-flex-item-align: center;
  justify-content: space-between;
  width: 90%;
  height: 22em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  background-color: #fff;
  border: 1px dotted #f36b23;
  text-align: center;
}
.main-about__card-header,
.main-about__card-text,
.main-about__card-button {
  text-align: center;
  font-size: 2em;
}
.main-about__card-button {
  width: 80%;
  margin: 25px auto;
  padding: auto;
  color: white;
  background-color: #f36b23;
  height: 60px;
  border-radius: 8px;
  border: none;
}
.main-about__card-button:hover {
  background-color: #575252;
  cursor: pointer;
}
.main-about__card-link {
  height: 2em;
  background-color: #f36b23;
  color: white;
}
.main-about__card-link:hover {
  cursor: pointer;
  background-color: #ffc658;
} */

@media (min-width: 992px) {
  /* .main-about__header {
    text-align: center;
    font-size: 2.5em;
  }
  .main-about__card {
    width: 30%;
  }
  .main-about__card-header,
  .main-about__card-text,
  .main-about__card-button {
    text-align: center;
    font-size: 1.5em;
  } */
}
