@import 'colors.css';

.intro {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.intro-container {
  width: 90%;
  margin: auto;
  padding-top: 2em;
}

.intro__info {
  width: 100%;
  padding: 0;
  line-height: 2em;
}

.intro__info h1 {
  font-size: 1.4em;
  line-height: 1.2em;
}

.intro__info a {
  color: var(--main-blue-color);
  text-decoration: none;
}

.intro__info a:hover {
  color: var(--main-orange-color);
}

.intro__typing {
  font-size: 1.5em;
  color: var(--main-orange-color);
}

.intro__modal {
  padding-top: 2em;
}

.intro__image {
  display: none;
  position: relative;
  background: url('../images/intro2.jpg') 90% no-repeat;
  background-size: cover;
  height: auto;
}

.typist {
  display: inline-block;
}

@media (min-width: 992px) {
  .intro {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 80vh;
  }

  .intro-container {
    padding-top: 0;
  }

  .intro__info {
    width: 40%;
    margin: auto;
  }

  .intro__info h1 {
    font-size: 1.8em;
    line-height: 1.2em;
  }

  .intro__image {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 40%;
  }
}
