html {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

main {
  padding-top: 120px;
  padding-bottom: 100px;
  min-height: calc(100vh - 400px);
}

.logo {
  z-index: 10;
  position: absolute;
  width: 15em;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
    padding-top: 120px;
    min-height: calc(100vh - 250px);
  }
  .container {
    width: 80%;
  }
}
