html {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Inconsolata', monospace; */
}

body {
  font-size: 1.2em;
  line-height: 1.8em;
  padding: 0;
  margin: 0;
}

h1 {
  -ms-align-self: flex-start !important;
  align-self: flex-start !important;
}

button:focus {
  outline: 0;
}

main {
  min-height: calc(100vh - 450px);
}

textarea:focus,
input:focus,
a:focus {
  outline: none;
}

.logo {
  display: none;
}

.container {
  width: 90%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding: 4em 0;
}

.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

.col {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

ul {
  padding: 0;
  list-style: none;
  line-height: 1.5em;
}

.whatsapp {
  color: var(--whatsapp-color);
}

.whatsapp:hover {
  color: var(--whatsapp-hover-color) !important;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
    min-height: calc(100vh - 200px);
  }
  .logo {
    display: block;
    z-index: 10;
    position: absolute;
    width: 15em;
    top: 0.5em;
    left: 1em;
  }
  .container {
    max-width: 70%;
  }

  .row-small {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 30em;
    justify-content: space-between;
  }

  .col {
  }
}
