@import 'colors.css';

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}
.bm-burger-bars {
  background: #373a47;
}
.bm-cross-button {
  height: 36px;
  width: 36px;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-menu {
  background: var(--main-grey-color);
  padding: 1.2em;
  width: auto;
}
.bm-morph-shape {
  fill: var(--main-grey-color);
}
.bm-item-list {
  color: #b8b7ad;
  overflow: hidden;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: auto;
}
.bm-item {
  color: white;
  text-decoration: none;
}
.bm-item:hover {
  color: var(--main-orange-color);
}
.bm-overlay {
  background: rgba(0; 0; 0; 0.3);
}
