.request-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.input-email,
.input-address,
.input-problem,
.input-date {
  display: none;
}

input,
textarea {
  width: 90%;
  height: 3em;
  margin: 20px auto;
  display: inline-block;
  box-sizing: border-box;
  font-size: 2em;
  text-indent: 1em;
  border: 2px solid black;
}

.form-button {
  background-color: orange;
  color: white;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  width: 90%;
  font-size: 2em;
  height: 3em;
  border-radius: 8px;
}

.form-button:hover {
  background-color: rgb(249, 176, 36);
}

@media (min-width: 992px) {
  form {
    width: 90%;
    margin: auto;
  }
  input,
  textarea {
    width: 100%;
    height: 2em;
    margin-top: 10px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.5em;
    text-indent: 1em;
    border: 2px solid black;
  }

  textarea {
    height: 4em;
    padding-top: 10px;
  }

  .form-button {
    margin-top: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.5em;
    height: 2.5em;
    border-radius: 8px;
  }

  .input-email,
  .input-address,
  .input-problem,
  .input-date {
    display: inline;
  }
}
