html {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

button:focus {
  outline: 0;
}

main {
  padding-top: 60px;
  padding-bottom: 100px;
  min-height: calc(100vh - 400px);
}

.logo {
  display: none;
}

.container {
  width: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
    padding: 0;
    min-height: calc(100vh - 250px);
  }
  .logo {
    display: block;
    z-index: 10;
    position: absolute;
    width: 15em;
    top: 0.5em;
    left: 1em;
  }
  .container {
    width: 80%;
  }
}
