@import '../../styles/colors.css';

.footer {
  height: 450px;
  background-color: var(--main-grey-color);
  color: white;
}

.footer .row {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer * {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: var(--main-orange-color);
}

.footer__address {
  display: none;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer {
    height: 250px;
    width: 100%;
  }

  .footer__address {
    display: block;
  }

  .footer .row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
