@import '../../styles/colors.css';

.footer {
  height: 450px;
  background-color: var(--main-grey-color);
  color: white;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.footer .row {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer * {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: var(--main-orange-color);
}

.footer__address {
  display: none;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer {
    height: 200px;
    width: 100%;
  }

  .footer-container {
    max-width: 70%;
    justify-content: space-between !important;
  }

  .footer__address {
    display: block;
  }

  .footer .row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
