@import '../../styles/colors.css';

.request-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  margin: auto;

  .input-email,
  .input-address,
  .input-problem,
  .input-date {
    display: none;
  }

  .input-name,
  .input-email,
  .input-phone,
  .input-address,
  .input-problem,
  .input-date {
    width: 100%;
    height: 3em;
    margin: 1em auto;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1em;
    border: 2px solid black;
  }

  .form-button {
    background-color: var(--main-orange-color);
    color: white;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    height: 3em;

    &:hover {
      background-color: var(--main-grey-color);
    }
  }
}

@media (min-width: 992px) {
  .request-form {
    width: 90%;
    margin: auto;

    .input-name,
    .input-email,
    .input-phone,
    .input-address,
    .input-problem,
    .input-date {
      width: 100%;
      height: 2em;
      margin-top: 1em;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      border: 2px solid black;
    }

    .input-phone,
    .input-address,
    .input-problem {
      text-indent: 2em;
      font-size: 0.9em;
    }

    .input-problem {
      height: 4em;
      padding-top: 0.5em;
      width: 100%;
    }

    .form-button {
      margin: 30px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      font-size: 1.2em;
      height: 2.5em;
    }

    .input-email,
    .input-address,
    .input-problem,
    .input-date {
      display: inline;
    }
  }
}
